body {
    margin: 0;   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background {
    background-color: #2D3436;
    color: white;
}

h1 {
    font-weight: 400;
    font-size: 38px;
}

header {
    background: #2D3436;
    height: 120px;
    width: 100%;
    text-align: center;
}

header img{
    width: 300px;
    margin: 60px auto;
}

nav {
    margin-top: -2px;
    padding-bottom: 5px;
    background-color: #2D3436;
    font-size: 14px;
    color: whitesmoke;
    vertical-align: top;
    width: 100%;
    letter-spacing: 0.1em;
    font-weight: 200;
}

.alignright {
    text-align: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

nav ul li {
    display: inline;
    padding-left: 30px;
}

ul li a{
    color: aliceblue;
    text-decoration: none;
}

/* LEFT SIDE */

.container.one {
    margin-top: 70px;
    margin-bottom: 50px;
}

.profile h3 {
    font-size: 30px;
    padding-top: 20px;
    font-weight: 300;
    margin-bottom: 0;
}

.profile p{
    color: rgb(138, 138, 138);
    font-size: 1em;
    margin: 0;
}

.profile #avatar {
    border-radius: 50%;
    max-width: 180px;
    width: 80%;
}

/* Social Media Icons */

.profile .social-media {
    padding-top: 10px;
    font-size: 20px;
    letter-spacing: 5px;
}

.profile i:hover {
    color: rgb(28, 175, 155);
    transition: .2s ease;
  }

.profile .fa-linkedin{
    color: rgb(0, 119, 181);
}

.profile .fa-twitter{
    color: rgb(0, 172, 237);
}

.profile .fa-github{
    color: rgb(27, 27, 27);
}
.profile .fa-angellist{
    color: rgb(27, 27, 27);
}

/* RIGHT SIDE */

.intro h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
}

#lastupdate {
    color: rgb(190, 190, 190);
    font-size: 12px;
    text-align: right;
    line-height: 0;
}


/* GALLERY */

.gallery {
    width: 100%;
}

.gallery .images {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 55%;
    border-radius: 8px;
    margin-bottom: 10px;
    
}

#gallerySeperator {
    height: 30px;
}

#berlin{
    background-image: url("../images/Berlin.jpg");
}
#sanFrancisco{
    background-image: url("../images/SanFrancisco.jpg");
}
#singapore{
    background-image: url("../images/Singapore.jpg");
}
#games{
    background-image: url("../images/games.jpg");
}
#football{
    background-image: url("../images/football.jpg");
}
#techno{
    background-image: url("../images/techno.jpg");
}

.overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: rgba(28, 175, 155, 0.842);
    border-radius: 5px;
  }
  
.images:hover .overlay {
    opacity: 1;
  }

.text {
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 250px;
    height: 100%;
  }


.essayLinks{
    text-decoration: none;
    color: black;
}
  
.headline {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}

.preview {
    color: rgb(122, 125, 138);
}

.label{
    font-size: 11px;
    line-height: normal;
    font-weight: 600;
    background-color: rgb(28, 175, 155);
    color: white;
    padding: 4px 10px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.divider {
    width: 250px;
    background-color: rgb(28, 175, 155);
    height: 3px;
}

/* FOOTER */


footer {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    background: #2D3436;
    color: aliceblue;
    vertical-align: middle;
}

footer .container {
    height: 100%;
    line-height: 60px;
    vertical-align: middle;
}

footer p {
    letter-spacing: 0.1em;
}

footer .social-media {
    font-size: 1em;
    letter-spacing: 5px;
    text-align: center; 
}

footer .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

footer #logo {
    display: inline-block;
    vertical-align: middle;
    max-height: 25px;
    max-width: 160px;
}

footer a{
    color: whitesmoke;
}

#heart:hover {
    color: red;
    transition: .2s ease;
}

footer i:hover {
    color: rgb(28, 175, 155);
    transition: .2s ease;
  }
